<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>SIGN UP</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="container">
                <label for="username">Username</label>
                <input type="text" placeholder="Enter username" name="username" required>
                <br>
                <br>
                <label for="password1">Password</label>
                <input type="password" placeholder="Enter password" name="password1" required>
                <br>
                <br>
                <label for="password2">Re-enter Password</label>
                <input type="password" placeholder="Re-enter password" name="password2" required>
            </div>
            <button type="submit">Sign up</button>
        </form>
        <a href="{% url 'login' %}" class="login-link">
            Already have an account? Login here
        </a>
    </div>
</body>
</html>
