{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_playlist.css' %}">

<div class="create-playlist-container">
    <h1 class="create-playlist-title">Create a New Playlist</h1>
    
    <form method="post" class="create-playlist-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn create-btn">Create Playlist</button>
    </form>
</div>
{% endblock %}
