{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/song_list.css' %}">

    <div class="song-list-container">
        <h1>Recently Added Songs</h1>

        {% for song in songs %}
            <div class="song-entry">
                <h2><a href="{% url 'song_detail' song.pk %}" class="song-title">{{ song.title }}</a></h2>
                <p>Artist: {{ song.artist }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
